* { margin: 0; padding:0; border:0;}

/* background-fixo, podendo ser alterado para outras imagens*/
body {
		background: url(img/home.jpg) no-repeat center top fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

/*base estrutural, border usado apenas como direcionamento e visão para auxiliar na implementação de conteúdo, apos o termino sera retirado*/
header { border:;  border-color:;  }
nav { border:;  border-color:;  }

section {}

footer { border:solid 2px;  border-color:#fff;  }


#site {
		position: absolute;
		top: 150px;
		left: 45%;
		width: 800px;
		padding: 20px;
		margin-left: -350px; /* por causa do posicionamento absoluto temos que usar margem negativa para centralizar o site */
		background: #FFF; /* fundo branco para navegadores que não suportam rgba */
		background: rgba(255,255,255,0.2); /* fundo branco com um pouco de transparência */
}

/* menu estilo*/
.menubar {float:right;}

/* configuração geral de escrita */

p { margin-bottom: 1.5em; color:#38bf0f; }
h1 { color:#e3f2d0; }
h2 { color:"#fff"; }
